body{
	background-image:url(25.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
	color:   #ff9900;
	text-align:center;
	text-top: 40%;
}
tr{
	color:  #00ff00;
}