body{
	background-image:url(4.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
	color:  #cc0000;
	text-align:center;
	text-top: 40%;
}
tr{
	color:  #80ffff;
}
.hax{
	color:#900C3F;
   
}

.yellow {
  background-color: #FFCC00;
  color: #333;
}

.blue {
  background-color: #A3D900;
  color: #333;
}

.pink {
  background-color: #FF99FF;
  color: #333;
}

.green {
  background-color: #A3D900;
  color: #333;
}

.purple {
  background-color: #B399FF;
  color: #333;
}

