body{
	background-image:url(51.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
	color:  #000000;
	text-align:center;
	text-top: 30%;
}
tr{
	color:  #cc00ff;
}