body{
	background-image:url(8.jpg);
	
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  table-layout:center;
}

h1{
	color:  #cc0000;
	text-align:center;
	text-top: 20%;
}
table{
	text-align:center;
}
	