
body{
	background-image:url(8.jpg);
	
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
h1{
	color:  #cc0000;
	text-align:center;
	text-top: 5%;
}
ul{
	float:right;
	width:40%;
	color: #0d0d0d;
	font-size:40px;
	text-top: 30%;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color:#4d0000;
	padding: 5px 20px;
	border: 1px solid #4d0000;
}
ul li a:hover{
	background-color:#4d0000;
	color: #ffe6e6;
}
