body{
	background-image:url(23.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
	color:  #000000;
	text-align:center;
	text-top: 40%;
}
table {
	table-top:30%;
	width: 100%;
	border: 2px solid red;
}

tr{
	color: #ffffe6;
	border: 5px solid red;
}
th{
	 color: #ffff4d;
	 border: 1px solid red;
}
td{
	border: 1px solid red;
}
/*.hax{
	color:#900C3F;
   
}

.yellow {
  background-color:  #99ffff;
  color: #333;
}

.blue {
  background-color: #A3D900;
  color: #333;
}

.pink {
  background-color: #FF99FF;
  color: #333;
}

.green {
  background-color: #6699ff;
  color: #333;
}

.purple {
  background-color: #ff0000;
  color: #333;
}*/

